<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>web-06-sessiontest</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>page1</servlet-name>
    <servlet-class>com.example.sessiontest.Page1Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>page1</servlet-name>
    <url-pattern>/page1.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>page2</servlet-name>
    <servlet-class>com.example.sessiontest.Page2Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>page2</servlet-name>
    <url-pattern>/page2.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>page3</servlet-name>
    <servlet-class>com.example.sessiontest.Page3Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>page3</servlet-name>
    <url-pattern>/page3.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>page4</servlet-name>
    <servlet-class>com.example.sessiontest.Page4Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>page4</servlet-name>
    <url-pattern>/result.do</url-pattern>
  </servlet-mapping>
</web-app>