<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>07_builtin_object_test</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>config_test</servlet-name>
    <servlet-class>com.example.builtinobjecttest.ServletConfigTest</servlet-class>
    <init-param>
      <param-name>email_address</param-name>
      <param-value>someone@naver.com</param-value>
    </init-param>
    <init-param>
      <param-name>user_id</param-name>
      <param-value>someone</param-value>
    </init-param>
    <init-param>
      <param-name>save_file</param-name>
      <param-value>memo_test.txt</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>config_test</servlet-name>
    <url-pattern>/config_test.do</url-pattern>
  </servlet-mapping>
  
  <context-param>
  	<param-name>admin_email</param-name>
  	<param-value>admin@somesite.com</param-value>	
  </context-param>
  <context-param>
  	<param-name>db_server</param-name>
  	<param-value>dbserver.somesite.com</param-value>	
  </context-param>
  <context-param>
  	<param-name>db_name</param-name>
  	<param-value>memo_db</param-value>	
  </context-param>
  <context-param>
  	<param-name>db_user</param-name>
  	<param-value>test_user</param-value>	
  </context-param>
  <context-param>
  	<param-name>db_passwd</param-name>
  	<param-value>1234</param-value>	
  </context-param>
</web-app>